.menu-top-seperator{
	background-color: #696969;
	width: 100%;
	height:15px;
}
.menu-searchBar{
	border: solid grey;
	border-radius: 12px;
	margin-left: -50px;
	font-size: 15px;
	height: 40px;
	width: 60%;
}
.menu-box-left{
	border: solid grey;
	border-radius: 10px;
	margin-left: -50px;
	background-color: #a2a3a2;
}
.menu-categories{
	margin-left: 30px;
}
.menu-title{
	text-align: center;
}
.menu-box-right{
	border: solid grey;
	border-radius: 10px;
	margain-left: 30px
}
.menu-product-card{
	border: solid grey;
	border-radius: 10px;
	text-align: center;
}
.menu-product-image{
	border: solid grey;
	border-radius: 0px;
	text-align: center;
}
.menu-product-name{
	font-size: 18px;
	text-align: left;
	float: left;
}
.menu-product-price{
	font-size: 15px;
	text-align: left;
	float: left;
}



